.DS_Store
.build/
.swiftpm/
*.xcodeproj
*.xcuserstate
DerivedData/
.vscode/

packaging/Pesty.app/
packaging/*.dmg
packaging/*.zip
packaging/*.icns
packaging/pesty.rb
packaging/icon_1024.png
packaging/Pesty.iconset/

*.log

packaging/*.pkg
packaging/*.provisionprofile
